.selectedPage {
  color: black;
  font-weight: 700;
}

.paginator {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.paginator div {
  cursor: pointer;
  padding: 10px;
}

.pageNumber {
  padding: 2px;
  border: 1px solid white;
}

.pageNumber.selectedPage {
  font-weight: bold;
}
