.header {
  padding: 10px;
  color: black;
  grid-area: h;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-weight: 700;
  text-decoration: underline;
}

.header__field {
  display: flex;
  align-items: center;
}
