.navbar {
  grid-area: n;
  background-color: black;
  padding: 15px;
  text-align: center;
  min-height: 700px;
  max-width: 140px;
  min-width: 140px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  color: gold;
}
