body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    'h h h h h h h'
    'n c c c c c c';
  row-gap: 20px;
}

.content {
  grid-area: c;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 700;
}
